@use "@/styles/mixins/main";
@use "@/styles/mixins/progress";
@use "@/styles/colors/palette";

#pokemon_details {
    @include main.full-screen;
    background-color: palette.$secondary;

    .nav-bar {

        .right-icon {
            width: 25px;
            cursor: pointer;
        }

        .options-container {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1;

            .option {
                padding: 7px;
                background-color: palette.$primary;
                list-style-type: none;
                text-align: right;
                font-size: 0.8rem;
                cursor: pointer;
            }
        }
    }

    .details-container {
        position: fixed;
        bottom: 0;
        @include main.flex($direction: column, $justify: flex-start, $row: 10px);
        width: 100%;
        height: 75%;
        padding-top: 20%;
        background-color: palette.$primary;
        border-radius: 30px 30px 0 0;

        .image {
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 50%;
            transform: translate(-50%, 25%);
        }

        .details {
            @include main.flex($direction: column, $justify: flex-start, $row: 10px);
            overflow: hidden auto;

            .label {
                color: palette.$white-secondary;
            }

            .types-container {
                @include main.flex($col: 10px);
                width: 100%;

                .type-icon {
                    width: max(25px, 10%);
                }
            }

            .height-weight {
                @include main.flex($col: 30px);
                padding: 0 5%;
                text-align: center;

                .label {
                    font-size: 0.8rem;
                }
            }

            .stats-container {
                width: 100%;
                padding: 5% 5% 10% 5%;

                .stats {
                    @include main.flex($direction: column, $align: flex-start, $row: 10px);
                    margin-top: 12px;
                    font-size: 0.75rem;
                    
                    .stat-value {
                        @include main.flex($justify: space-between);
                        width: 100%;

                        &.happiness {
                            margin-top: 7px;

                            .stat-label {
                                font-size: 0.7rem;
                            }
                        }

                        .stat-label {
                            width: 30%;
                        }

                        progress {
                            @include progress.progress-value(palette.$secondary);
                            width: 40%;
                        }
                    }
                }
            }
        }
    }

    .release-modal .pop-up-card {
        top: 35%;

        .text {
            font-size: 0.8rem;
        }
    }
}