@use "@/styles/mixins/main";
@use "@/styles/colors/palette";

.loading-screen {
    @include main.full-screen;
    background-size: cover;

    &#trade_loader {
        background-image: url('@/assets/images/loading/trade.png');
    }
    &#pvp_loader {
        background-image: url('@/assets/images/loading/pvp.png');
    }

    .overlay {
        @include main.full-screen;
        @include main.flex($direction: column, $justify: flex-end, $row: 25px);
        padding: 10%;
        background-image: linear-gradient(rgba(palette.$primary, 0), palette.$primary);

        .message {
            align-self: flex-end;
            text-align: end;
            font-size: 1rem;
        }

        .invite-button {
            padding: 7px 10px;
            background-color: palette.$accent;
            border-radius: 20px;
            font-weight: 600;
        }
    }
}