@use "@/styles/mixins/main";

#navigation_bar {
    @include main.flex;
    width: 100%;
    min-height: 8vh;
    padding: 10px 0;

    .icon {
        position: absolute;
        left: 10px;
        width: 25px;
        cursor: pointer;
    }

    .title {
        max-width: 80%;
        text-align: center;
        translate: 15px;
    }

    .right-action {
        position: absolute;
        right: 10px;
    }
}