@use "@/styles/mixins/main";

#navigation_bar {
    width: 100%;
    height: 8vh;
	@include main.flex;

    .icon {
        position: absolute;
        left: 10px;
        width: 30px;
        cursor: pointer;
    }
}