@use "@/styles/colors/palette";
@use "@/styles/animation";

.pc-actions {
    width: 25px;
    cursor: pointer;
}

.actions-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    .action {
        padding: 10px;
        background-color: palette.$white;
        color: palette.$secondary;
        list-style-type: none;
        text-align: right;
        font-size: 0.8rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            background-color: palette.$accent;
            color: palette.$primary;
        }

        &:not(:last-child) {
            border-bottom: 1px solid palette.$white-secondary;
        }
    }
}

.pc-box {
    :deep(.body-container) {
        flex-direction: column;
        align-items: flex-start;
        
        .box-input {
            width: 100%;
            background-color: transparent;
            color: palette.$white;
            text-align: center;
            font-size: 1.1rem;
        }
        
        .box-error {
            margin-top: 10px;
            color: #F77;
            font-size: 0.7rem;
        }
    }
}

.error-animation {
    animation: shiver 100ms alternate 4;
}

.error-enter-active,
.error-leave-active {
    transition: 400ms;
}
.error-enter-active {
    animation: shiver 100ms alternate infinite;
}

.error-enter-from,
.error-leave-to {
    opacity: 0;
}