@font-face {
    font-family: "Facon";
    src: url("@/assets/fonts/Facon.ttf");
}
@font-face {
    font-family: "PKMN RBYGSC";
    src: url("@/assets/fonts/PKMN RBYGSC.ttf");
}

$headings: "Facon";
$content: "PKMN RBYGSC";