@keyframes tilt {
	0% {
		transform: rotateZ(0);
	}
	15% {
		transform: rotateZ(20deg);
	}
	30% {
		transform: rotateZ(0);
	}
	50% {
		transform: rotateZ(0);
	}
	65% {
		transform: rotateZ(-20deg);
	}
	80% {
		transform: rotateZ(0);
	}
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes wiggle {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(-1deg);
    }
}