@use "colors/palette";
@use "mixins/main";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    @include main.full-screen;
}

#rotate_device {
    @include main.full-screen;

    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: palette.$primary;
}

@media screen and (min-aspect-ratio: 5/4) {
    body {
        display: flex;
        justify-content: center;
        background-color: palette.$primary;

        #app {
            width: 50vh;
            height: 100vh;
        }
    }
}

@media screen and (min-aspect-ratio: 5/4) and (max-height: 400px) {
    #rotate_device {
        display: block;
    }
}