@use "colors/palette";
@use "mixins/main";
@use "fonts";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: fonts.$content;
	letter-spacing: 3px;
	line-height: 150%;
	text-decoration: none;
	border: none;
	outline: none
}

#main:not(.page_not_found) {
	@include main.full-screen;
	font-size: 1vmin;
	border:1px solid red;
}

@media screen and (min-aspect-ratio: 2/3) {
	body {
		@include main.full-screen;
		background-color: palette.$primary;

		#main:not(.page_not_found) {
			left: 50vw;
			width: 50vh;
			transform: translateX(-50%);
		}
	}
}

@media screen and (min-aspect-ratio: 2/3) and (max-height: 600px) {
    #main:not(.page_not_found) {
		display: none;
    }
}