@use "@/styles/mixins/main";

#gym_bages {
    @include main.full-screen;

    .gym-bages-container {
        @include main.flex($justify: flex-start, $align: flex-start, $wrap: wrap);
        width: 100%;
        height: 92%;

        .badge-container {
            @include main.flex;
            width: 50%;
            height: 25%;

            img {
                width: 60%;
            }
        }
    }
}