@use "@/styles/mixins/main";
@use "@/styles/colors/palette";

#info_view {
    @include main.full-screen;
    
    .page-container {
        @include main.flex($justify: space-between, $col: 5%);
        position: absolute;
        top: 50%;
        width: 100%;
        padding: 10px;
        transform: translateY(-50%);

        .change-page-icon {
            width: 20px;
            filter: invert(1);
            cursor: pointer;

            &.hide {
                visibility: hidden;
            }
        }

        .content-container {
            @include main.flex($direction: column, $row: 25px);

            .image {
                width: 100%;
            }

            .text-container {
                @include main.flex($direction: column, $row: 10px);
                
                .text {
                    font-size: 0.8rem;
                }
            }

            .actions-container {
                @include main.flex($direction: column, $row: 15px);
                width: 100%;

                .button {
                    width: 100%;
                    padding: 5px;
                    border: 1px solid;
                    border-radius: 20px;

                    &.primary {
                        background-color: palette.$accent;
                        color: palette.$primary;
                        border-color: palette.$primary;
                    }

                    &.secondary {
                        background-color: palette.$primary;
                        color: palette.$accent;
                        border-color: palette.$accent;
                    }
                }
            }
        }
    }
}