@use "@/styles/mixins/main";
@use "@/styles/colors/palette";

.move-card {
    @include main.flex($direction: column, $align: flex-start, $row: 5px);
    width: 90%;
    padding: 15px;
    background-color: palette.$secondary;
    border: 1px solid palette.$white-secondary;
    border-radius: 15px;
    color: palette.$white;
    cursor: pointer;
}