@use "@/styles/mixins/main";
@use "@/styles/colors/palette";

#pokemon_list_container {
    @include main.full-screen;
    background-color: palette.$primary;
    z-index: 1;

    #pokemon_list {
        @include main.flex($direction: column, $justify: flex-start, $row: 20px);
        width: 100%;
        height: 90vh;
        padding-top: 10px;
        padding-bottom: 50px;
        overflow-y: auto;
    }
}