@use "@/styles/mixins/main";
@use "@/styles/colors/palette";

$header-ht: calc(8vh + 100px);

#pokedex {
    @include main.full-screen;
    overflow-y: auto;

    header {
        position: fixed;
        @include main.flex($direction: column, $justify: space-between);
        width: calc(100% - 5px);
        height: $header-ht;
        background-color: palette.$primary;
        z-index: 2;

        .filter-icon {
            width: 30px;
            cursor: pointer;
        }

        .search-bar {
            position: relative;
            width: 90%;
            margin: auto;
            background-color: palette.$secondary;
            border-radius: 7px;

            input {
                width: 80%;
                height: 50px;
                padding: 5%;
                background-color: transparent;
                color: palette.$white;
            }
            .search-icon {
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .pokemon-list {
        @include main.flex($direction: column, $justify: flex-start, $row: 20px);
        width: 100%;
        padding: $header-ht 5% 25px 5%;

        .pokemon-card {
            @include main.flex($justify: space-between);
            width: 100%;
            height: 125px;
            padding: 5px;
            background-color: palette.$secondary;
            border-radius: 7px;
            cursor: pointer;

            &.uncaught {
                filter: grayscale(1);
                cursor: default;
            }

            .details {
                @include main.flex($direction: column, $justify: space-evenly, $align: flex-start);
                height: 100%;
                padding: 3% 5%;

                .id {
                    color: palette.$white-secondary;
                }
                .types-container {
                    @include main.flex($col: 5px);
                }
            }

            img {
                width: 30%;
            }
        }
    }

    #filter_view {
        @include main.full-screen;
        background-color: palette.$primary;

        .apply-filter-btn {
            background-color: transparent;
            color: palette.$white;
        }

        .filter-container {
            @include main.flex($direction: column, $justify: flex-start, $row: 20px);
            max-height: 92vh;
            padding-top: 3vh;
            overflow-y: auto;

            .filter {
                width: 100%;

                .title {
                    position: relative;
                    padding: 3% 5%;
                    background-color: palette.$secondary;
                    cursor: pointer;

                    &::after {
                        content: '';
                        position: absolute;
                        right: 5%;
                        top: 50%;
                        width: 25px;
                        aspect-ratio: 1;
                        background-image: url('@/assets/icons/arrow-down.svg');
                        background-size: contain;
                        transform: translateY(-50%);
                        transition: 400ms;
                        transform-origin: center;
                    }

                    &.open-filter::after {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }

                .options {
                    @include main.flex($direction: column, $justify: flex-start, $row: 5px);
                    margin-top: 5px;
                    padding-bottom: 60px;

                    .option {
                        @include main.flex($justify: flex-start, $col: 10px);
                        width: 100%;
                        padding: 5px;
                        cursor: pointer;

                        input[type='radio'] {
                            appearance: none;
                            width: 20px;
                            aspect-ratio: 1;
                            background-image: url('@/assets/images/pokeball-icon.png');
                            background-size: contain;
                            filter: grayscale(1);

                            &:checked {
                                filter: none;
                            }
                        }
                    }
                }
            }
        }
    }
}