@use "@/styles/mixins/main";
@use "@/styles/colors/palette";

#pokemon_details {
    @include main.full-screen;
    background-color: palette.$secondary;

    .nav-bar {

        .right-icon {
            width: 25px;
            cursor: pointer;
        }

        .options-container {
            position: fixed;
            top: 0;
            right: 0;

            .option {
                padding: 7px;
                background-color: palette.$primary;
                list-style-type: none;
                text-align: right;
                font-size: 0.8rem;
                cursor: pointer;
            }
        }
    }

    .details-container {
        position: fixed;
        bottom: 0;
        @include main.flex($direction: column, $justify: flex-end, $row: 10px);
        width: 100%;
        height: 75%;
        background-color: palette.$primary;
        border-radius: 30px 30px 0 0;

        .label {
            color: palette.$white-secondary;
        }

        .image {
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 50%;
            transform: translate(-50%, 25%);
        }

        .types-container {
            @include main.flex($col: 10px);
        }

        .height-weight {
            @include main.flex($col: 30px);
            padding: 0 5%;
            text-align: center;

            .label {
                font-size: 0.8rem;
            }
        }

        .stats-container {
            width: 100%;
            padding: 5% 5% 10% 5%;
        }
    }
}