@use "@/styles/mixins/main";
@use "@/styles/mixins/progress";
@use "@/styles/colors/palette";
@use "@/styles/animation";

.pokemon-card {
    @include main.flex($justify: flex-start);
    width: 90%;
    height: min(160px, 20vh);
    padding: 10px;
    border-radius: 15px;
    background-color: palette.$secondary;
    cursor: pointer;

    &.wiggle {
        animation: wiggle 250ms ease-in-out infinite alternate;
        cursor: grabbing;
    }

    .image {
        width: 30%;
        aspect-ratio: 1;
        background-size: contain;
    }

    .details {
        @include main.flex($direction: column, $justify: space-evenly, $align: flex-start, $row: 5px);
        width: 70%;
        height: 100%;
        
        strong {
            color: palette.$white;
        }
        span {
            color: palette.$white-secondary;
        }
        progress {
            @include progress.progress-value;
        }

        .types-list {
            @include main.flex($justify: flex-start, $col: 5%);
            width: 100%;
        }
    }
}