@use "colors/palette";
@use "mixins/main";

.pop-up-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;

	.pop-up-card {
		position: absolute;
		top: 25%;
		left: 5%;
		@include main.flex($direction: column, $row: 20px);
		width: 90%;
		padding: 30px;
		background-color: palette.$secondary;
		border-radius: 7px;

		.close {
			position: absolute;
			top: 10px;
			left: 10px;
		}

		.body-container {
			@include main.flex;
		}

		.actions-container {
			@include main.flex($justify: space-around, $col: 25px);

			button {
				padding: 5px 7px;
				font-weight: 600;
				cursor: pointer;
			}

			.confirm {
				background-color: palette.$accent;
				color: palette.$primary;
			}

			.cancel {
				background-color: transparent;
				color: palette.$accent;
				border: 1px solid palette.$accent;
			}

			.disabled {
				filter: grayscale(1);
				cursor: not-allowed;
			}
		}
	}
}