@use "@/styles/mixins/main";

#shop {
    
    .items-container {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: space-around;
        row-gap: 20px;
        width: 100%;
        max-height: 92vh;
        padding-bottom: 60px;
        overflow-y: auto;

        .shop-item {
            aspect-ratio: 1;
            @include main.flex($direction: column);

            .item-image {
                width: 62.5%;
                aspect-ratio: 1;
                object-fit: contain;
            }

            .price-container {
                @include main.flex($col: 5px);

                .coin-icon {
                    width: 30px;
                }
            }
        }
    }
}