@use "@/styles/mixins/main.scss";
@use "@/styles/colors/palette.scss";

#achievements {

    .achievements-list {
        @include main.flex($direction: column, $justify: flex-start, $row: 3vh);
        margin-top: 3vh;

        .achievement-card {
            @include main.flex();
            width: 90%;
            aspect-ratio: 2.1;
            padding: 10px;
            background-color: palette.$secondary;
            border-radius: 10px;

            .details {
                @include main.flex($direction: column, $justify: flex-start, $align: flex-start, $row: 10px);

                ul {
                    @include main.flex($direction: column, $justify: flex-start, $row: 5px);
                    list-style-type: none;

                    li {
                        font-size: 0.7rem;
                    }
                }
            }

            .chart-container {
                @include main.flex;
                width: 45%;
            }
        }
    }
}