@use "@/styles/mixins/main";
@use "@/styles/colors/palette";
@use "@/styles/fonts";

@mixin menu-bars {
    aspect-ratio: 8;
    background-color: palette.$primary;
    border-radius: 10px;
    transition: 400ms;
}

.home-container {
    @include main.full-screen;
    @include main.flex($justify: space-between);
    background-size: contain;
    background-position: center 30%;
    background-repeat: no-repeat;
    background-color: palette.$white;
    transition: 800ms;

    .home-icons-container {
        @include main.flex($direction: column, $row: 25px);
        width: 25%;
        height: 100vh;
        transition: 400ms;

        img {
            width: 100%;
            aspect-ratio: 1;
            padding: 15px;
            color: palette.$primary;
            cursor: pointer;
        }
    }

    &.edit-view {
        background-position-y: 80%;

        .edit-container {
            position: fixed;
            top: 0;
            @include main.flex($direction: column);
            width: 100%;
            color: palette.$primary;

            .edit-nav {
                @include main.flex($justify: space-between, $align: center);
                height: 8vh;
                width: 100%;
                padding: 5px;

                .icon {
                    width: 25px;
                    aspect-ratio: 1;
                    filter: invert(1);
                    cursor: pointer;
                }
                .save-btn {
                    background-color: transparent;
                    font-size: 1.1rem;
                    font-weight: bold;
                }
            }
            .player-name {
                width: 90%;
                margin-left: 5%;
                font-family: fonts.$heading;
                text-align: center;
                background-color: transparent;
                font-size: 1.5rem;
            }

            .avatar-controller-container {
                position: fixed;
                top: 50%;
                @include main.flex($justify: space-between);
                width: 100%;
                padding: 5%;

                .change-avatar-icon {
                    width: 30px;
                    aspect-ratio: 1;
                    cursor: pointer;
                }
            }
        }

        .home-icons-container {
            transform: scaleX(0);
        }
        .home-icons-container:first-of-type {
            transform-origin: left;
        }
        .home-icons-container:last-of-type {
            transform-origin: right;
        }

    }
}

.main-menu-btn {
    position: fixed;
    bottom: 3vh;
    left: 50%;
    width: min(100px, 20%);
    aspect-ratio: 1;
    background-color: palette.$accent;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: 400ms;

    span {
        position: relative;
        display: block;
        width: 50%;
        @include menu-bars;
        margin-left: 25%;
        transform: translateY(-10px);

        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            @include menu-bars;
        }

        &::before {
            transform: translateY(10px);
        }
        &::after {
            transform: translateY(20px);
        }
    }

    &.open {
        bottom: 1vh;
        transform: translateX(-50%) scale(0.75);

            span {
            transform: rotateZ(45deg);
            transition-delay: 300ms;

            &::before {
                transform: translateY(10px) scaleX(0);
            }
            &::after {
                transform: rotateZ(270deg);
                transition-delay: 300ms;
            }
        }
    }
    
    &.shrink-menu {
        transform: translateX(-50%) scale(0) rotate(360deg);
    }
}