@use "@/styles/mixins/main";

#berry_crusher {
    @include main.full-screen;
    @include main.flex($direction: column, $justify: space-around);
    padding: 1vh 10px;

    .title {
        text-align: center;
        font-size: 1.5rem;
    }

    .crusher-container {
        @include main.flex($direction: column, $row: 10px);
        height: 50%;
        cursor: pointer;

        .rotar {
            width: 72%;
        }

        .disabled {
            filter: grayscale(1);
        }
    }

    .instructions {
        font-size: 0.9rem;
    }
}