@use "@/styles/mixins/main";
@use "@/styles/colors/palette";
@use "@/styles/colors/carnival";

#finding_ditto {
    @include main.full-screen;
    @include main.flex($direction: column, $justify: space-around);
    padding: 1vh 10px;
    background-color: palette.$primary;

    .title {
        text-align: center;
        font-size: 1.5rem;
    }

    .pokemon-container {
        @include main.flex($justify: space-around, $wrap: wrap);
        height: 40%;

        .pokemon-image {
            width: 40%;
            cursor: pointer;
        }
    }

    .instructions {
        text-align: center;
    }
}