@use "@/styles/mixins/main";

#carnival_home {
    @include main.full-screen;

    .event-container {
        @include main.flex($direction: column, $justify: flex-start, $row: 15px);
        max-height: 92vh;
        overflow-y: auto;
        padding: 30px 15px;

        .event {
            @include main.flex($col: 5%);
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            text-align: right;
            cursor: pointer;

            &.alternate {
                flex-direction: row-reverse;
                text-align: left;
            }

            .name {
                width: 45%;
            }

            .image {
                height: 100px;
            }
        }
    }

    .pop-up-wrapper .pop-up-card .body-container {
        @include main.flex($direction: column, $row: 20px);
        
        .entry-fee {
            @include main.flex($col: 20px);

            .icon {
                width: 50px;
            }

            .count {
                font-size: 1.5rem;
            }
        }
    }
}