@use "@/styles/mixins/main";
@use "@/styles/colors/carnival";

#pokemon_dash {
    @include main.full-screen;
    @include main.flex;
    background-color: carnival.$pokemon-dash-ground;

    .participant {
        width: 25%;
        height: 100%;

        .track {
            width: 100%;
            height: calc(100% - clamp(75px, 10%, 100px));
            border: 0px dashed carnival.$pokemon-dash-white;
        }
    
        .image {
            width: 100%;
            height: clamp(75px, 10%, 100px);
            background-color: carnival.$pokemon-dash-white;
        }
        
        &:not(:last-of-type) .track {
            border-right-width: 3px;
        }
        &:not(:first-of-type) .track {
            border-left-width: 3px;
        }
    }
}