@use "@/styles/mixins/main";
@use "@/styles/mixins/progress";
@use "@/styles/colors/palette";
@use "@/styles/colors/carnival";

#whos_that_pokemon {
    @include main.full-screen;
    @include main.flex($direction: column, $justify: space-between);
    background-color: carnival.$whos-that-pokemon-background;

    .question-container {
        @include main.flex($direction: column);
        margin-top: 3vh;

        .title {
            color: palette.$primary;
            text-align: center;
        }

        .image {
            width: 75%;
            transition: 1s;

            &.hide {
                filter: brightness(0);
            }
        }
    }

    .answers-container {
        @include main.flex($direction: column, $justify: flex-end);
        width: 100%;

        .timer {
            @include progress.progress-value;
        }

        .options {
            $option-border: 1px solid palette.$white;

            width: 100%;
            height: 50px;
            font-size: 1rem;
            background-color: palette.$primary;
            color: palette.$white;
            border-top: $option-border;
            border-bottom: $option-border;

            &.correct-option {
                background-color: carnival.$whos-that-pokemon-correct-option;
            }
        }
    }
}