@use "@/styles/mixins/main";
@use "@/styles/mixins/progress";
@use "@/styles/colors/palette";

#whos_that_pokemon {
    @include main.full-screen;
    @include main.flex($direction: column, $justify: space-between);
    background-color: #FC3030;

    .question-container {
        @include main.flex($direction: column);
        margin-top: 3vh;

        .title {
            color: palette.$primary;
            text-align: center;
        }

        .image {
            width: 75%;
            filter: brightness(0);
        }
    }

    .answers-container {
        @include main.flex($direction: column, $justify: flex-end);
        width: 100%;

        .timer {
            @include progress.progress-value;
        }

        .options {
            $option-border: 1px solid palette.$white;

            width: 100%;
            height: 50px;
            font-size: 1rem;
            background-color: palette.$primary;
            color: palette.$white;
            border-top: $option-border;
            border-bottom: $option-border;
        }
    }
}