$whos-that-pokemon-background: #FC3030;
$whos-that-pokemon-correct-option: #0A0;

$pokemon-roulette-yellow: #DFBF20;
$pokemon-roulette-blue: #209FDF;
$pokemon-roulette-red: #DF2020;

$pokemon-dash-ground: #D5423C;
$pokemon-dash-white: #FFF;