$primary: #111;
$secondary: #333;
$accent: #0AF;
$white: #FFF;
$white-secondary: #AAA;

$value-high: #0F7;
$value-med: #FF3;
$value-low: #F33;

$BUG: #8B9A12;
$DARK: #503A27;
$DRAGON: #765FDF;
$ELECTRIC: #EFAF1C;
$FAIRY: #E18DE2;
$FIGHTING: #78321F;
$FIRE: #D62F06;
$FLYING: #8397EA;
$GHOST: #6162B3;
$GRASS: #68B632;
$GROUND: #CFAE52;
$ICE: #6BD3F4;
$NORMAL: #C8C1B7;
$POISON: #9A579D;
$PSYCHIC: #DB3166;
$ROCK: #B7A65F;
$STEEL: #B1B2BF;
$WATER: #3092F0;