@use "@/styles/mixins/main";
@use "@/styles/colors/palette";

#tent_selection {
    @include main.full-screen;
    @include main.flex($direction: column, $justify: space-between, $row: 20px);
    padding-bottom: 30px;

    .title {
        text-align: center;
        font-size: 1.1rem;
    }

    .pokeballs-container {
        @include main.flex($wrap: wrap, $row: 25px, $col: 10%);

        .pokeball {
            width: 40%;
            max-width: 125px;
            filter: grayscale(1);
            cursor: pointer;

            &.selected {
                filter: grayscale(0);
            }
        }
    }

    .confirm {
        visibility: hidden;
        padding: 7px 10px;
        background-color: palette.$accent;
        color: palette.$primary;
        border-radius: 5px;
        font-weight: 600;

        &.show {
            visibility: visible;
        }
    }
}