@use "@/styles/mixins/main";
@use "@/styles/colors/palette";

#trade_chat {
    @include main.full-screen;
    @include main.flex($direction: column);
    background-color: palette.$primary;

    #navigation_bar .icon {
        right: 10px;
        left: unset;
    }

    .messages-container {
        @include main.flex($direction: column, $justify: flex-start, $row: 15px);
        width: 100%;
        height: calc(92vh - 60px);
        margin-bottom: 10px;
        padding: 10px;
        overflow-y: auto;

        .chat-bubble {
            position: relative;
            min-width: 50px;
            width: fit-content;
            max-width: 80%;
            padding: 5px 5px 5px 10px;
            color: palette.$primary;
            border-radius: 10px;
            word-break: break-all;
            font-size: 0.8rem;

            &::after {
                content: '';
                position: absolute;
                top: calc(100% - 10px);
                border: 10px solid transparent;
            }
            
            &.client {
                align-self: flex-end;
                background-color: palette.$accent;
                
                &::after {
                    right: 0;
                    border-right-color: palette.$accent;
                }
            }
            
            &.peer {
                align-self: flex-start;
                background-color: palette.$white-secondary;
                
                &::after {
                    left: 0;
                    border-left-color: palette.$white-secondary;
                }
            }
        }
    }

    .message-input-container {
        @include main.flex;
        width: 100%;
        height: 50px;

        .input {
            width: calc(100% - 50px);
            height: 100%;
            padding: 10px;
            background-color: palette.$secondary;
            color: palette.$white;
        }

        .send-button {
            width: 50px;
            aspect-ratio: 1;
            background-color: palette.$accent;

            .icon {
                width: 60%;
            }
        }
    }
}

#trade_chat_fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    aspect-ratio: 1;
    padding: 8px;
    background-color: palette.$accent;
    border-radius: 25px;
    cursor: pointer;
}