#trade_mode {
    .nav-bar {
        position: relative;
        z-index: 2;

        &.invert .icon {
            filter: invert(1);
        }
    }

    .pokemon-list {
        #navigation_bar {
            flex-direction: column;
            row-gap: 5px;
            height: max-content;
            padding: 10px;

            .title {
                text-align: center;
                font-size: 1rem;
            }
        }
    }
}