@use "@/styles/mixins/main";

.trade-pokemon {
    @include main.flex($direction: column, $align: flex-start, $row: 5px);
    align-self: flex-start;
    width: 60%;
    
    &.is-peer {
        align-items: flex-end;
        align-self: flex-end;
    }

    .pokemon-image {
        width: 100%;
    }

    .types-container {
        display: flex;
        column-gap: 10px;
    }
}