@use "@/styles/mixins/main";
@use "@/styles/colors/palette";

#trade_pokemon {
    @include main.full-screen;
    @include main.flex($direction: column, $justify: space-between);
    padding: 30px 10px;

    .accept-trade {
        position: fixed;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);

        &:not(.active) {
            filter: grayscale(1);
        }

        .divider {
            position: absolute;
            top: 50%;
            width: 100%;
            height: 3px;
            background-color: palette.$accent;
            color: palette.$primary;
        }

        .accept-button {
            position: relative;
            left: 50%;
            padding: 5px;
            background-color: palette.$accent;
            border-radius: 7px;
            transform: translateX(-50%);
        }
    }
}