@use "@/styles/mixins/main";

.trade-pokemon {
    @include main.flex($direction: column, $align: flex-start);
    align-self: flex-start;
    width: 60%;
    
    &.is-peer {
        align-items: flex-end;
        align-self: flex-end;
    }

    img {
        width: 100%;
    }
}