@use "@/styles/mixins/main";
@use "@/styles/colors/palette";

.achievement-card {
    position: relative;
    @include main.flex($justify: space-between, $align: flex-start);
    width: 100%;
    height: 120px;
    padding: 5px 10px;
    background-color: palette.$secondary;
    border-radius: 10px;
    overflow: hidden;

    .text-container {
        width: 100%;
        height: 100%;
        padding: 3px;

        .achievement-name {
            color: palette.$white-secondary;
            font-size: 0.75rem;
        }

        .requirement {
            font-size: 1.5rem;
            line-height: 4rem;
        }

    }

    .badge {
        height: 80px;
        aspect-ratio: 1;
        
        &.base {
            filter: contrast(0);
        }
        &.bronze {
            filter: sepia(1) hue-rotate(330deg) brightness(0.75) saturate(3);
        }
        &.silver {
            filter: grayscale(1) brightness(1.6);
        }
        &.gold {
            filter: sepia(1) brightness(1.25) saturate(3);
        }
    }

    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 7px;
        background-color: palette.$white-secondary;
        &::-webkit-progress-value {
            background-color: palette.$accent;
        }
        &::-moz-progress-bar {
            background-color: palette.$accent;
        }
    }
}