@mixin full-screen {
    position: fixed;
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
}

@mixin flex($direction: row, $justify: center, $align: center, $row: 0, $col: 0, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    row-gap: $row;
    column-gap: $col;
    flex-wrap: $wrap;
}