@use "@/styles/colors/palette";

@mixin progress-value($bg-color: palette.$white) {
    width: 100%;
    height: 7px;
    border-radius: 10px;
    border: none;
  
    &::-webkit-progress-bar {
        background-color: $bg-color;
        border-radius: 10px;
    }
    &::-webkit-progress-value {
        border-radius: 10px;
    }

    &::-webkit-progress-value {
        background-color: palette.$accent;
    }
    &::-moz-progress-bar {
        background-color: palette.$accent;
    }

    &.high {
        &::-webkit-progress-value {
            background-color: palette.$value-high;
        }
        &::-moz-progress-bar {
            background-color: palette.$value-high;
        }
    }
    &.medium {
        &::-webkit-progress-value {
            background-color: palette.$value-med;
        }
        &::-moz-progress-bar {
            background-color: palette.$value-med;
        }
    }
    &.low {
        &::-webkit-progress-value {
            background-color: palette.$value-low;
        }
        &::-moz-progress-bar {
            background-color: palette.$value-low;
        }
    }
}

@mixin progress-chart {
    &.high {
        stroke: palette.$value-high;
    }
    &.medium {
        stroke: palette.$value-med;
    }
    &.low {
        stroke: palette.$value-low;
    }
}