@use "@/styles/colors/palette";
@use "@/styles/colors/types";
@use "@/styles/mixins/main";

#moveset_container {
	@include main.full-screen;
    background-color: palette.$primary;

    #moves_list {
        @include main.flex($direction: column, $justify: flex-start, $row: 20px);
        width: 100%;
        max-height: 90vh;
        padding-top: 10px;
        overflow-y: auto;

        .move-card {
            @include main.flex($direction: column, $align: flex-start, $row: 5px);
            width: 90%;
            padding: 15px;
            border-radius: 15px;
            color: palette.$primary;
            cursor: pointer;
        }
    }
}