@use "@/styles/mixins/main";
@use "@/styles/mixins/progress";
@use "@/styles/colors/palette";

.battle-pokemon, .pokemon-list {
    @include main.flex($direction: column);

    &.front {
        align-items: flex-end;
        align-self: flex-end;
    }
    &.back {
        align-items: flex-start;
        align-self: flex-start
    }

    .status{
        @include main.flex($direction: column, $align: flex-start, $row: 5px);
        width: 100%;
        padding: 5%;
        background-color: palette.$primary;
        border-radius: 5px;

        strong {
            color: palette.$white;
        }
        span {
            color: palette.$white-secondary;
            font-size: 0.8rem;
        }
        progress {
            @include progress.progress-value;
        }
    }

    .pokemon {
        @include main.flex;
        width: 80%;
        aspect-ratio: 1.25;
        background-image: url('@/assets/images/battle-scene/ground.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;

        img {
            transform: scale(1.5);
        }
    }
}