@use "@/styles/mixins/main";
@use "@/styles/colors/palette";
@use "@/styles/animation";

#offline {
    @include main.full-screen;
    @include main.flex($row: max(5vh, 50px));
    background-color: palette.$primary;
    color: palette.$white;

    #image{
        position: fixed;
        top: 10%;
        width: 70%;
        animation: blink 1s cubic-bezier(0.7, 0.5, 1, 0.25) infinite alternate,
            float 3s ease-in-out infinite alternate,;
    }

    h2 {
        color: palette.$white-secondary;
        text-align: center;
    }

}