@use "@/styles/colors/palette";
@use "@/styles/mixins/main";

#offline {
	@include main.full-screen;
	@include main.flex($direction: column, $row: max(5vh, 50px));
	background-color: palette.$secondary;
	color: palette.$white;

    #image{
        width: 50%;
    }

    h2, h4 {
        text-align: center;
    }

}